@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  background-color: rgb(241, 241, 241);
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Decrease the height or adjust as needed */
  }
}

@keyframes bounce-slow-jump {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px); /* Jump higher or adjust as needed */
  }
  50% {
    transform: translateY(-9px); /* Decrease the height or adjust as needed */
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-bounce-slow {
    animation: bounce-slow 4s infinite, slide-in-right 2s ease-out;
  }

  .animate-bounce-slow-jump {
    animation: bounce-slow-jump 4s infinite;
  }
  .animate-slide-in {
    animation: slide-in 2s ease-out;
  }
}
